// Devices sizes
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1440px;
$bp-desktop-m: 1680px;
$bp-desktop-l: 1920px;
$bp-desktop-xl: 2560px;

// Colors
$brown: #d5966c;
$black: #151515;
$grey: #444444;
$white: #ffffff;

// Typographies
$title-font: "Big Shoulders", sans-serif;
$primary-font: "Outfit", sans-serif;
